main {
    overflow: auto;
}

.main-container {
    margin: 60px 40px 0 40px;
}

.input-container {
    display: flex;
    gap: 30px;
    width: 60%;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.addDeleteBtns {
    display: flex;
    gap: 10px;
}

.inputBlock .inputTitle {
    font-size: 18px;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

h1 {
    white-space: nowrap;
}

form {
    /* width: unset !important;
    gap: unset !important; */
    width: 100% !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0px solid #ccc;
}

.inputBlock input,
.inputBlock textarea,
.inputBlock select {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    font-family: 'inter';
    cursor: pointer;
}

option {
    background-color: #fff;
    padding: 100px;
    margin: 100px;
    outline: 0px;
    cursor: pointer;
}

.inputBlock select option {
    padding-top: 50px !important;
    margin: 20px;
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 80px;
    padding: 15px !important;
}

.line {
    border-right: 1px solid #ddd;
}

.addSubTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addSubTask input {
    border-right: unset;
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.addSubTaskBtn {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 50px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #d1d1d1;
    border-left: unset;
    cursor: pointer;
}

.errorSubtask {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    background-color: #2A3647;
    padding: 20px;
    border-radius: 12px;
    opacity: 0;
    color: #fff;
    animation: pop-up 2s normal;
}

@keyframes pop-up {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.prioBtns {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.prioBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 50px;
    width: 100%;
    padding: 0 5px;
}

.prioBtn:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px #00000015;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.closeBtn {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    position: absolute;
    bottom: 100px;
    right: 15px;
    height: 50px;
    gap: 10px;
}

.buttons .clearBtn {
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 13px 10px;
    display: flex;
    gap: 10px;
}

.clearBtn:hover {
    border: 1px solid #29abe2;
    cursor: pointer;
    z-index: 2000;
}

.createBtn:hover {
    cursor: pointer;
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.buttons .createBtn {
    background-color: #2A3647;
    color: #fff !important;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 13px 10px;
    display: flex;
    gap: 10px;
}

.buttons .createBtn button {
    color: #fff;
}

button {
    border: unset;
    background-color: unset;
    font-size: 18px;
    cursor: pointer;
}

#checkSubtasks {
    margin: 15px 10px;
}

.subtask {
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtask input {
    height: unset;
}

@media (max-width: 1800px) {
    .input-container {
        width: 100%;
    }
}

@media (max-width: 1070px) {
    .buttons {
        position: absolute;
        bottom: unset;
        z-index: 100;
    }
    .input-container {
        flex-direction: column;
        width: 100%;
    }
    .left,
    .right {
        width: 100%;
    }
    .main-container {
        margin: 60px 40px
    }
}

@media (max-width: 870px) {
    .clearBtn {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .clearBtn {
        display: none;
    }
    h1 {
        line-height: 30px;
    }
    .nav-icons {
        display: none !important;
    }
    header {
        width: unset !important;
    }

    .buttons {
        top: 35px;
    }
}

@media (min-width:800px) {
    .kanban {
        display: none;
    }
}