main {
    overflow-y: auto;
}

.main-container {
    padding: 0px 40px 0 40px;
    overflow-y: auto;
}

.input-container {
    display: flex;
    gap: 30px;
    width: 60%;
    /* height: 550px; */
}

.inputBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.addDeleteBtns {
    display: flex;
    gap: 10px;
}

.addDeleteBtnsCat {
    display: flex;
    gap: 10px;
    width: 80px;
}

.inputBlock .inputTitle {
    font-size: 18px;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
}

h1 {
    white-space: nowrap;
}

form {
    /* width: unset !important;
    gap: unset !important; */
    width: 100% !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0px solid #ccc;
}

.inputBlock input,
.inputBlock textarea,
.inputBlock select {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    font-family: 'inter';
    cursor: pointer;
}

.task-input-assignedTo {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 50px;
    padding: 0px 5px 0px 15px;
    font-size: 18px;
    font-family: 'inter';
    cursor: pointer;
    position: relative;
}

.contactsToAssign {
    width: calc(100% - 30px);
    max-height: 130px;
    position: absolute;
    top: 35px;
    left: -1px;
    padding: 0px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.contactToAssign {
    margin-top: 10px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: unset !important;
}

.inviteBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.inviteBtn img {
    width: 20px;
}

option {
    background-color: #fff;
    padding: 100px;
    margin: 100px;
    outline: 0px;
    cursor: pointer;
}

.inputBlock select option {
    padding-top: 50px !important;
    margin: 20px;
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 80px;
    padding: 15px !important;
}

.line {
    border-right: 1px solid #ddd;
}

.addSubTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addSubTask input {
    border-right: unset;
    border-radius: 10px 0 0 10px;
    width: 100%;
}

.addSubTaskBtn {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 50px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #d1d1d1;
    border-left: unset;
    cursor: pointer;
}

.prioBtns {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.prioBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 50px;
    width: 100%;
    padding: 0 5px;
}

.prioBtn:hover {
    cursor: pointer;
    box-shadow: 0px 2px 4px #00000015;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.closeBtn {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    position: absolute;
    bottom: 100px;
    right: 15px;
    height: 50px;
    gap: 10px;
}

.buttons .clearBtn {
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 13px 10px;
    display: flex;
    gap: 10px;
}

.clearBtn:hover {
    border: 1px solid #29abe2;
    cursor: pointer;
    z-index: 2000;
}

.createBtn:hover {
    cursor: pointer;
    color: #29abe2;
    border-color: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.chooseColor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.colorOption {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 1px;
    width: 10px !important;
    height: 10px !important;
    cursor: pointer;
}

.scaleColor {
    scale: 1.4;
}

.buttons .createBtn {
    background-color: #2A3647;
    color: #fff !important;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 13px 10px;
    display: flex;
    gap: 10px;
}

.buttons .createBtn button {
    color: #fff;
}

button {
    border: unset;
    background-color: unset;
    font-size: 18px;
    cursor: pointer;
}

#checkSubtasks {
    margin: 15px 10px;
}

.subtask {
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtask input {
    height: unset;
}

.categoryContainer {
    width: calc(100% - 30px);
    max-height: 130px;
    position: absolute;
    top: 35px;
    left: -1px;
    padding: 0px 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.categoryHover:hover {
    background-color: lightgrey;
}

@media (max-width: 1800px) {
    .input-container {
        width: 100%;
    }
}

@media (max-width: 1070px) {
    .closeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 0 8px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 20;
        color: #fff;
        cursor: pointer;
    }

    .buttons {
        position: absolute;
        bottom: unset;
        z-index: 100;
    }
    .input-container {
        flex-direction: column;
        width: 100%;
    }
    .left,
    .right {
        width: 100%;
    }
    .main-container {
        padding: 60px 40px
    }
}

@media (max-width: 870px) {
    .clearBtn {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .clearBtn {
        display: none;
    }
    h1 {
        line-height: 30px;
    }
    header {
        width: unset !important;
    }
    .buttons {
        top: 35px;
    }
}