main {
  padding: 55px;
}

.add-task-container {
  display: flex;
  justify-content: space-between;
  overflow: unset;
}

.add-title-container {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.gap-8px {
  gap: 8px;
}

.add-task-input {
  width: 422px;
  height: 51px;
  box-sizing: border-box;
  padding: 13px 21px;
  font-weight: 400;
  font-size: 21px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 21px;
}

.add-title-container textarea {
  padding: 18px 21px;
  width: 422px;
  height: 119px;
  box-sizing: border-box;
  resize: none;
}

.add-title-container select {
  font-size: 21px;
  width: 422px;
  height: 51px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
  cursor: pointer;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.img-date {
  background-image: url(../src/img/date.svg);
  background-repeat: no-repeat;
  background-position: center right 15.5px;
}

.img-plus {
  background-image: url(../src/img/plus.svg);
  background-repeat: no-repeat;
  background-position: center right 17.59px;
}

.prio-btn {
  border: none;
  width: 136px;
  height: 51px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 21px;
  font-weight: 400;
}

.prio-btn:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f6f7f8;
  border: 1px solid #2a3647;
  color: #2a3647;
  border-radius: 8px;
  width: 145px;
  height: 51px;
  font-size: 21px;
  transition: ease-in-out 225ms;
}

.clear-btn:hover {
  cursor: pointer;
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  width: 177px;
  height: 61px;
  background-color: #2a3647;
  border-radius: 10px;
  color: white;
  font-size: 21px;
  transition: ease-in-out 225ms;
}

.create-btn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.add-task-btn-container {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.line {
  height: 551px;
  border: 1px solid #d1d1d1;
  position: relative;
  top: 162px;
}

.hide {
  display: none;
}

@media screen {
  @media (max-width: 1350px) {
    main {
      padding: unset;
    }

    .hide {
      display: block;
    }

    .create-resp {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .add-task-container {
      position: unset;
      display: flex;
      flex-direction: column;
      padding: 40px;
    }

    .line {
      display: none;
    }

    .subtasks-container {
      position: unset;
    }

    .add-task-btn-container {
      display: none;
    }

    .add-title-container,
    .add-title,
    .add-task-input,
    .add-title-container textarea,
    .flex-column,
    .add-title-container select,
    .subtasks-container {
      width: 100%;
    }

    .prio-btn {
      width: 33%;
    }

    .prio-btn-resp {
      display: flex;
      gap: 8px;
    }
  }

  @media (max-width: 800px) {
    main {
      overflow-y: auto !important;
    }
  }

  @media (max-width: 450px) {
    .prio-btn {
      font-size: 18px;
    }
  }
}