* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.highlight {
  background: red;
}

.task-card-placeholder {
  min-width: 250px;
  height: 200px;
  border-radius: 30px;
  border: 1px dashed #a8a8a8;
}

main.board-container {
  margin: 0;
  padding: 80px 60px 0 70px;
}

main .title-mobile {
  display: none;
}

.headline {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.find-container {
  display: flex;
  align-items: center;
  padding: 13px 4px 13px 21px;
  margin: 0 35px 0 auto;
  gap: 10px;
  width: 251px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  position: relative;
}

.find-container input {
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  outline: none;
  border: none;
}

.find-container input::placeholder {
  color: #d1d1d1;
}

.find-container img {
  position: absolute;
  right: 8px;
}

.headline .add-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px;
  width: 137px;
  height: 51px;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.progress-steps > div {
  min-width: 250px;
  width: calc(25% - 15px);
  flex: 1;
}

.progress-header {
  padding: 0 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  color: #2a3647;
  margin-bottom: 30px;
  cursor: pointer;
}

.progress-header svg:hover path,
.progress-header svg:hover rect {
  stroke: hsl(198, 76%, 52%);
}

.tasks {
  flex: 1;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 19px;
  margin-bottom: 32px;
  gap: 18px;
  width: 100%;
  min-width: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  cursor: pointer;
}

.task-card:active {
  transform: rotate(2deg);
}

.label {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 27px;
  border-radius: 8px;
  color: #ffffff;
  text-transform: capitalize;
}

.label.design {
  background: #ff7a00;
}

.label.sales {
  background: #fc71ff;
}

.label.backoffice {
  background: #1fd7c1;
}

.label.media {
  background: #ffc701;
}

.label.marketing {
  background: #0038ff;
}

.task-card > .title {
  font-weight: 700;
}

.task-card > .description {
  color: #a8a8a8;
  overflow-wrap: break-word;
}

.subtasks-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.subtasks-progress progress {
  flex: 1;
  /* width: 138px; */
  height: 8px;
  border: none;
}

.subtasks-progress progress::-webkit-progress-bar {
  background-color: #f4f4f4;
  border-radius: 3px;
}

.subtasks-progress progress::-webkit-progress-value {
  background-color: #29abe2;
  border-radius: 3px;
}

.subtasks-progress span {
  font-size: 12px;
}

.task-card .assigned-to-and-priority-container {
  display: flex;
  justify-content: space-between;
}

.task-card .assigned-to {
  display: flex;
}

.task-card .assigned-to > .initials {
  font-size: 12px;
  color: #ffffff;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background: #0190e0;
}

.pink {
  background: #ee00d6;
}

.green {
  background: #02cf2f;
}

.orange {
  background: #ffa800;
}

.violet {
  background: #9327ff;
}

.dark-blue {
  background: #2a3647;
}

.red {
  background: #ff5c00;
}

.dark-green {
  background: #4e963d;
}

.ligth-blue {
  background: #32daff;
}

.kings-blue {
  background: #007cee;
}

.task-card .assigned-to > div:not(:first-child) {
  margin-left: -5px;
}

.task-card .priority {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* task overlay */

.task-overlay {
  display: grid;
  grid-template-columns: auto 0px;
  grid-template-areas: "content buttons";
  width: 623px;
  height: 824px;
  max-height: 95%;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.task-overlay-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 50px;
  font-size: 21px;
  overflow: auto;
}

.task-overlay-content > div {
  display: flex;
  align-items: center;
}

.task-overlay-content > .label {
  width: 142px;
  min-height: 40px;
  font-size: 27px;
  font-weight: 400;
}

.task-overlay-content > .title {
  color: #000000;
  font-size: 61px;
  font-weight: 700;
}

.task-overlay-content > .description {
  font-size: 21px;
}

.task-overlay-content > div > .title {
  font-weight: 700;
  font-size: 21px;
  margin-right: 25px;
}

.task-overlay-content .subtasks {
  width: 100%;
}

.task-overlay-content .subtasks .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100px;
  overflow: auto;
}

.task-overlay-content .subtask {
  display: flex;
  align-items: center;
  gap: 25px;
}

.task-overlay-content .subtasks input.subtask-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
}

.task-overlay-content .subtasks input:checked + span {
  text-decoration: line-through;
}

.task-overlay-content .priority {
  display: flex;
}

.task-overlay-content .priority .label {
  width: unset;
  height: 33px;
  font-size: 21px;
  padding: 4px 18px;
  display: flex;
  gap: 12px;
}

.task-overlay-content .label.urgent {
  background: #ff3d00;
}

.task-overlay-content .label.medium {
  background: #ffa800;
}

.task-overlay-content .label.low {
  background: #7ae229;
}

.task-overlay-content .label img {
  width: 17px;
  height: 12px;
}

.task-overlay-content .subtasks,
.task-overlay-content .assigned-to {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.task-overlay-content .assigned-to {
  gap: 25px;
}

.task-overlay-content .assigned-persons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.task-overlay-content .assigned-person {
  display: flex;
  align-items: center;
  gap: 25px;
}

.task-overlay-content .assigned-persons-container .initials {
  font-size: 16px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-overlay-buttons {
  grid-area: buttons;
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.close-button:hover {
  border: 2px solid #2a3647;
}

.edit-icon {
  width: 57px;
  height: 57px;
  outline: none;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/* queries */

@media (max-width: 1450px) {
  .progress-steps > div {
    min-width: 45%;
  }
}

@media (max-width: 1000px) {
  .headline .add-button {
    width: 40px;
    height: 40px;
    justify-content: center;
  }

  .add-button span {
    display: none;
  }
}

@media (max-width: 900px) {
  .progress-steps > div {
    min-width: 80%;
  }
}

@media (max-width: 881px) {
  /* main {
    padding: 80px 50px 0;
  } */

  .headline {
    flex-wrap: wrap;
    position: relative;
  }

  .headline h1 {
    margin-right: auto;
  }

  .find-container {
    margin: 0;
    position: absolute;
    top: 80px;
  }

  .add-button {
    margin-left: auto;
  }
}

/* @media (max-width: 851px) {
  .progress-steps > div {
    flex: 1;
  }

  .task-card {
    width: auto;
  }
} */

@media (max-width: 800px) {
  main {
    padding-top: 30px;
  }

  main .title-mobile {
    font-size: 16px;
    display: block;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 630px) {
  .task-overlay-content {
    width: 100%;
    height: 100%;
    max-height: unset;
    border-radius: 0;
  }
}

@media (max-width: 500px) {
  main {
    padding-right: 25px;
    padding-left: 25px;
  }
}
