* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  overflow-x: hidden;
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

main {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.c-main {
  display: flex;
}

.c-list {
  width: 453px;
  min-width: 453px;
  padding: 0 48px 0 48px;
  background-color: white;

  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #a8a8a8;
}

.c-view {
  width: 100%;
  padding: 82px 85px 0 85px;
  background-color: #f6f7f8;
}

.c-initial-letter {
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.c-initial-letter-border {
  border-bottom: 1px solid #d1d1d1;
  width: 338px;
  height: 5px;
}

.c-contact-overview {
  display: flex;
  padding-top: 15px;
}

.c-initials {
  border-radius: 50%;
  margin: 0 35px 22px 0;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-i-small {
  height: 42px;
  min-height: 42px;
  width: 42px;
  min-width: 42px;
}

.c-i-big {
  height: 120px;
  min-height: 120px;
  width: 120px;
  min-width: 120px;

  font-style: normal;
  font-weight: 500;
  font-size: 47px;
}

.color-1 {
  background-color: #ff7a00;
}

.color-2 {
  background-color: #ff7a00;
}

.color-3 {
  background-color: #9327ff;
}

.color-4 {
  background-color: #29abe2;
}

.color-5 {
  background-color: #fc71ff;
}

.color-6 {
  background-color: #02cf2f;
}

.color-7 {
  background-color: #af1616;
}

.color-8 {
  background-color: #462f8a;
}

.color-9 {
  background-color: #ff7a00;
}

.c-list-name {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  margin-bottom: 5px;
}

.c-list-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #007cee;
}

.c-view-head {
  display: flex;
  margin-bottom: 82px;

  justify-content: space-between;
  align-items: center;
}

.c-v-line {
  background-color: #29abe2;
  height: 56px;
  width: 3px;
  border-radius: 5px;
}

.c-float-head {
  display: flex;
  align-items: center;
}

.c-foad-h-right {
  min-height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-float-name {
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
}

.c-add-task {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #29abe2;
}

.c-floating-middle {
  display: flex;
  padding: 30px 0 30px 0;
  align-items: center;
}

.c-floating-edit {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.c-float-info {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
}

.c-flat-edit-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2a3647;
  margin-left: 4px;
}

.c-floating-d-top {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.c-floating-d-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  padding: 15px 0 22px 0;
}

.btn-new-contact {
  position: absolute;
  bottom: 62px;
  right: 52px;
}
