.modules {
    background-color: #fff;
    border-radius: 30px;
    /* min-height: 700px; */
    overflow-y: auto;
}

.contactsToAssign {
    width: calc(100% + 2px) !important;
}

.padding {
    padding: 40px !important;
    width: 80vw !important;
}

.modules .input-container {
    width: 100%;
}

.modules .main-container {
    padding-top: 100px;
}

.slideOut {
    animation: slideOut 600ms ease-in-out;
}

.slideIn {
    animation: slideIn 600ms ease-in-out;
}

.line {
    display: none;
}

.taskOverlay {
    background: #f5f5f5;
    padding: 10px;
    width: 100%;
}

@keyframes slideIn {
    0% {
        transform: translateX(3000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(3000px);
    }
}

@media (max-width: 1070px) {
    .mobile-fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        margin: unset;
        width: 100vw !important;
        height: 100vh !important;
        border-radius: unset;
    }
   
    .createBtn {
        position: absolute !important;
        bottom: 0 !important;
        right: 0 !important;
    }
    .relative-btns {
        position: absolute !important;
        padding-right: 20px;
    }

    .overlay {
        top: 80px !important;
        height: calc(100vh - 80px) !important;
        background-color: rgba(1, 1, 1, 0);     
    }
}

@media (min-width: 1070px) {
    .buttons {
        position: relative;
        bottom: 0;
        right: 0;
    }
}