header,
header > .nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  padding: 20px 36px 20px 348px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

header > .title {
  font-size: 21px;
}

header > .nav-icons {
  gap: 26px;
}

header > .nav-icons img {
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 66px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 103px;
  background: #2a3647;
  width: 232px;
}

nav > img {
  width: 100px;
}

.nav-elements {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  width: 100%;
}

.nav-elements > li > a,
.legal-notice {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 8px 0 8px 53px;
  cursor: pointer;
}

.nav-elements > li:hover,
.nav-elements > li.active,
.legal-notice:hover {
  background: #091931;
}

.nav-elements > li > a > img {
  width: 25px;
  height: 25px;
}

.legal-notice {
  margin: auto 0 65px;
}

@media (max-width: 870px) {
  header {
    padding-left: 302px;
  }
}
