nav {
    grid-area: nav;
}

main {
    grid-area: main;
    /* overflow-y: auto; */
}

header {
    grid-area: header;
    background: #ffffff;
    padding: 20px 36px 20px 115px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.profile {
    border: 2px solid #2a3647;
    border-radius: 50%;
    padding: 1px;
}

header,
header>.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>.join-logo-mobile {
    display: none;
}

header>.title-desktop {
    font-size: 21px;
}

header>.nav-icons {
    gap: 26px;
}

header>.nav-icons img {
    cursor: pointer;
}

nav {
    padding: 66px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 103px;
    background: #2a3647;
    width: 100%;
    overflow: hidden;
}

nav>.join-logo-desktop {
    cursor: pointer;
    width: 100px;
}

.nav-elements {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: unset;
    margin: 0;
}

.nav-elements span {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.nav-elements>li>a,
.legal-notice {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 8px 0 8px 53px;
    cursor: pointer;
}

.legal-notice a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    gap: 20px;
}

.legal-notice span {
    font-size: 16px;
}

.nav-elements>li:hover,
.nav-elements>li.active,
.legal-notice:hover {
    background: #091931;
}

.active {
    background: #091931;
}

.nav-elements>li>a>img {
    width: 25px;
    height: 25px;
}

.legal-notice {
    margin: auto 0 65px;
}

#user-menu {
    background-color: #2A3647;
    position: absolute;
    top: 89px;
    right: 35px;
    width: 110px;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.menu-list {
    list-style: none;
    cursor: pointer;
    color: #7B818A;
    font-weight: 700;
}

#mobile-menu, .hide-over-800px {
    display: none;
}

#task-checkbox-subtasks {
    margin-bottom: 5px;
}

@media (max-width: 870px) {
    header {
        padding-left: 50px;
    }
}

@media (max-width: 800px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: 80px auto 80px;
        grid-template-areas: "header""main""nav";
    }

    header {
        padding: 20px 25px;
        height: 79px;
    }

    header>.join-logo-mobile {
        display: unset;
        height: 40px;
    }

    header>.title-desktop {
        display: none;
    }

    header .help {
        display: none;
    }

    nav {
        height: 80px;
        padding: 0;
        position: fixed;
        bottom: 0;
    }

    nav>.join-logo-desktop,
    .legal-notice {
        display: none;
    }

    nav .nav-elements {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }

    nav .nav-elements>li {
        width: 80px;
    }

    nav .nav-elements>li>a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: unset;
        height: 100%;
        width: 80px;
    }

    .desktop-logo-hide {
        display: none;
    }

    #user-menu {
        display: none;
    }

    #mobile-menu {
        display: unset;
        background-color: #2A3647;
        position: absolute;
        top: 79px;
        right: 0;
        width: 120px;
        padding: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .overlay {
        top: 79px !important;
    }

    .add-to-btn-primary {
        z-index: 999;
        position: absolute;
        top: -65px;
        height: 50px;
        right: 15px;
        padding: 13px 10px;
        gap: 10px;
        display: flex !important;
        align-items: center;
    }

    .mobile-hide {
        display: none !important;
    }
}