@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local(""), url("src/fonts/inter/Inter-VariableFont_slnt\,wght.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Black.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Bold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-ExtraBold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-ExtraLight.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Light.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Medium.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Regular.ttf") format("ttf"), url("src/fonts/inter/static/Inter-SemiBold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Thin.ttf") format("ttf");
}


/* general */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 89px auto;
    grid-template-areas: "nav header""nav main";
}

h1 {
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    font-weight: 700;
}

.d-none {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    /* display: none; */
    background-color: transparent;
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(198, 198, 198, 0.597);
    border-radius: 1.5rem;
}

.color-1 {
    background-color: #ff7a00;
}

.color-2 {
    background-color: #9327ff;
}

.color-3 {
    background-color: #29abe2;
}

.color-4 {
    background-color: #fc71ff;
}

.color-5 {
    background-color: #02cf2f;
}

.color-6 {
    background-color: #af1616;
}

.color-7 {
    background-color: #462f8a;
}

.btn-primary {
    background: #2a3647;
    border: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    cursor: pointer;
    transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-primary:active {
    transform: translateY(4px);
}

.btn-primary:hover {
    background: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
    background-color: #f6f7f8;
    border: 1px solid #2a3647;
    color: #2a3647;
    border-radius: 8px;
    transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
    cursor: pointer;
    font-weight: 400;
    font-size: 21px;
}

.btn-secondary:active {
    transform: translateY(4px);
}

.btn-secondary:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    color: #29abe2;
    border-color: #29abe2;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border-radius: 10px;
    border: 1px solid #d1d1d1;
}

::placeholder {
    color: #d1d1d1;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}


/* from here for login page */

.log-in {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 35px 0px;
    gap: 35px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 652px;
}

.width-100 {
    width: 100%;
}

.log-in h1 {
    width: 315px;
}

.border-bottom {
    border-bottom: 3px solid #29abe2;
    height: 97px;
    width: 150px;
    text-align: center;
}

.input-login {
    width: 422px;
    height: 51px;
    border-radius: 10px;
    padding: 13px 21px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
}

.background-image-email {
    background-image: url(src/img/email.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.background-image-password {
    background-image: url(src/img/password.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.display-center, .display-center-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.remember-me {
    display: flex;
    gap: 20px;
}

#rememberMe {
    cursor: pointer;
    width: 16px;
}

.forgot-password {
    text-decoration: none;
    color: #29abe2;
}

.continue-btn-container {
    display: flex;
    justify-content: center;
    gap: 51px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

.form-login-width {
    width: 90%;
}

.guest-btn {
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 700;
}

.login-btn-width {
    height: 51px;
    width: 145px;
}

.sign-up-container {
    z-index: 999;
    position: absolute;
    top: 67px;
    right: 114px;
}

.sign-up {
    height: 51px;
    width: 287px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.sign-up span {
    font-size: 21px;
    font-weight: 400;
}

.sign-up-btn {
    height: 51px;
    width: 91px;
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
    border: unset;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 225ms;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.background-image-name {
    background-image: url(src/img/signUpName.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.position-arrow {
    position: absolute;
    left: 40px;
    top: 30px;
    cursor: pointer;
}

.forgot-password h1 {
    width: 626px;
}

.send-mail {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.position-absolute-0 {
    position: absolute;
    bottom: 0;
    top: 0;
}

@media screen {
    @media (max-width: 800px) {

        /* from here for login page */
        body {
            grid-template-columns: auto;
            grid-template-rows: 89px auto;
            grid-template-areas: "header""main""nav";
        }

        .log-in-resp {
            flex-direction: column;
            gap: 35px;
        }

        .log-in {
            width: 90%;
        }

        .forgot-password-container {
            flex-direction: column-reverse;
            width: 90%;
        }

        .input-login {
            width: 90%;
        }

        .continue-btn-container {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .sign-up-container {
            display: none;
        }

        .forgot-password h1 {
            font-size: 40px;
        }

        .sign-up-container-resp {
            display: flex !important;
        }

        .position-absolute-0 {
            position: unset;
        }
    }

    @media(max-width: 600px) {
        .log-in {
            justify-content: center;
        }

        .forgot-password h1 {
            width: 315px;
        }

        .border-bottom {
            height: unset;
        }

        .send-mail img {
            width: 400px;
        }
    }

    @media(max-width: 450px) {
        h1 {
            font-size: 47px;
        }

        .send-mail img {
            width: 300px;
        }

        .position-arrow {
            left: 15px;
            top: 15px;
            width: 20px;
        }

        form {
            gap: 10px;
        }

        .input-login {
            height: 41px;
        }

        .btn-resp {
            height: 51px;
            width: 180px;
            font-size: 16px;
        }
    }

    @media(max-width: 400px) {
        body {
            align-items: flex !important;
        }
    }

    .input-login {
        width: 90%;
    }

    .continue-btn-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .forgot-password h1 {
        font-size: 40px;
    }
}