@font-face {
    font-family: "Inter";
    font-style: normal;
    src: local(""), url("src/fonts/inter/Inter-VariableFont_slnt\,wght.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Black.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Bold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-ExtraBold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-ExtraLight.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Light.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Medium.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Regular.ttf") format("ttf"), url("src/fonts/inter/static/Inter-SemiBold.ttf") format("ttf"), url("src/fonts/inter/static/Inter-Thin.ttf") format("ttf");
}


/* general */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 89px auto;
    grid-template-areas: "nav header" "nav main";
}

h1 {
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    font-weight: 700;
}

.d-none {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    /* display: none; */
    background-color: transparent;
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(198, 198, 198, 0.597);
    border-radius: 1.5rem;
}

.btn-primary {
    background: #2a3647;
    border: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    cursor: pointer;
    transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-primary:active {
    transform: translateY(4px);
}

.btn-primary:hover {
    background: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn-secondary {
    background-color: #f6f7f8;
    border: 1px solid #2a3647;
    color: #2a3647;
    border-radius: 8px;
    transition: background 150ms ease-in-out, box-shadow 150ms ease-in-out;
    cursor: pointer;
}

.btn-secondary:active {
    transform: translateY(4px);
}

.btn-secondary:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    color: #29abe2;
    border-color: #29abe2;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* from here for login page */

.log-in {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 35px 0px;
    gap: 35px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 652px;
}

.log-in h1 {
    width: 315px;
}

.border-bottom {
    border-bottom: 3px solid #29abe2;
    height: 97px;
    width: 150px;
    text-align: center;
}

.input-login {
    width: 422px;
    height: 51px;
    border-radius: 10px;
    padding: 13px 21px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
}

.background-image-email {
    background-image: url(src/img/email.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.background-image-password {
    background-image: url(src/img/password.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.remember-me-box {
    width: 16px;
    height: 16px;
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

.remember-me {
    display: flex;
    gap: 20px;
}

.forgot-password {
    text-decoration: none;
    color: #29abe2;
}

.continue-btn-container {
    display: flex;
    justify-content: center;
    gap: 51px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

.guest-btn {
    background-color: #ffffff;
    height: 51px;
    width: 145px;
    font-size: 21px;
    font-weight: 700;
}

.sign-up-container {
    position: absolute;
    top: 67px;
    right: 114px;
}

.sign-up {
    height: 51px;
    width: 287px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.sign-up span {
    font-size: 21px;
    font-weight: 400;
}

.sign-up-btn {
    height: 51px;
    width: 91px;
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
    border: unset;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 225ms;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: #29abe2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.background-image-name {
    background-image: url(src/img/signUpName.svg);
    background-repeat: no-repeat;
    background-position: center right 16.5px;
}

.position-arrow {
    position: absolute;
    left: 40px;
    top: 30px;
    cursor: pointer;
}

@media screen {
    @media (max-width: 800px) {
        /* from here for login page */
        body {
            grid-template-columns: auto;
            grid-template-rows: 89px auto;
            grid-template-areas: "header" "main" "nav";
        }
        .log-in-resp {
            width: 90%;
        }
        .log-in {
            width: 90%;
        }
        .remember-me {
            justify-content: center;
        }
        .forgot-password-container {
            flex-direction: column;
            width: 90%;
            text-align: center;
        }
        .input-login {
            width: 90%;
        }
        .continue-btn-container {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .sign-up-container {
            top: unset;
            right: unset;
            bottom: 70px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}