<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/templates.css" />
</head>

<body>
    <img src="../src/img/join-logo-blue.svg" alt="join logo" class="join-logo-mobile" />
    <span class="title-desktop">Kanban Project Management Tool</span>
    <div class="nav-icons">
        <img class="help" src="../src/img/help.svg" />
        <div>
            <img onclick="logoutPopUp()" class="profile" src="../src/img/profile.png" />
            <ul class="d-none" id="user-menu">
                <li class="menu-list" onclick="window.location.href='../index.html'">Log out</li>
            </ul>
            <ul class="d-none" id="mobile-menu">
                <li class="menu-list">Help</li>
                <li onclick="window.location.href='../html/impressum.html'" class="menu-list">Legal notice</li>
                <li onclick="window.location.href='../index.html'" class="menu-list">Log out</li>
            </ul>
        </div>
    </div>

</body>

</html>