<img
  src="../src/img/join-logo-white.svg"
  alt="join logo"
  class="join-logo-desktop"
/>
<ul class="nav-elements">
  <li class="active">
    <a href="../html/summary.html">
      <img src="../src/img/summary.svg" alt="summery icon" />
      <span>Summery</span>
    </a>
  </li>
  <li>
    <a href="../html/board.html">
      <img src="../src/img/board.svg" alt="board icon" />
      <span>Board</span>
    </a>
  </li>
  <li>
    <a href="../html/add-task.html">
      <img src="../src/img/add-task.svg" alt="add-task icon" />
      <span>Add Task</span>
    </a>
  </li>
  <li>
    <a href="../html/contacts.html">
      <img src="../src/img/contacts.svg" alt="contacts icon" />
      <span>Contacts</span>
    </a>
  </li>
</ul>
<div class="legal-notice">
  <img src="../src/img/legal-notice.svg" alt="legal-notice icon" />
  <span>Legal notice</span>
</div>
