.c-new-card {
    display: flex;
    width: 1212px;
    height: 594px;
    background-color: white;
    border-radius: 40px;
}

.c-new-c-left {
    width: 463px;
    height: 594px;
    background-color: #2a3647;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 46px 46px 46px;
}

.c-new-c-left img {
    width: 55px;
    height: 66px;
}

.c-new-c-right {
    width: 749px;
    height: 594px;
    padding: 34px 53px 0 70px;
    display: flex;
    justify-content: space-between;
}

.c-new-headline {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: white;
    margin-top: 12px;

}

.c-new-subtible {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-top: 12px;
}

.c-new-line {
    height: 0;
    width: 90px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
}

.c-new-initials {
    margin-top: 170px;
}

/* .c-new-close {
  
} */

.c-new-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
}

.c-new-input {
    border-style: none;
    width: 100%;
}

.c-new-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}