.c-new-card {
    display: flex;
    width: 1212px;
    height: 594px;
    background-color: white;
    border-radius: 40px;
}

.c-new-c-left {
    width: 463px;
    height: 594px;
    background-color: #2a3647;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 46px 46px 46px;
}

.c-new-c-left img {
    width: 55px;
    height: 66px;
}

.c-new-c-right {
    width: 749px;
    height: 594px;
    padding: 34px 53px 0 70px;
    display: flex;
    justify-content: space-between;
}

.c-new-headline {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: white;
    margin-top: 12px;

}

.c-new-subtible {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-top: 12px;
}

.c-new-line {
    height: 0;
    width: 90px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
}

.c-new-initials {
    margin-top: 170px;
}

.c-new-close {
    position: absolute;
    top: 0;
    right: 0;
}

.c-new-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
}

.c-new-input {
    position: relative;
    border-style: none;
    width: 100%;
    display: flex;
    font-size: 21px;
}

.c-new-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.c-new-btn-1 {
    padding: 18px 10px 18px 10px;
    height: 61px;
}

.c-new-btn-1 img {
    margin-left: 17px;
    margin-right: 6px;
}

.c-new-btn-2 {
    padding: 18px 16px 18px 16px;
    height: 61px;
}

.c-new-btn-2 img {
    margin-left: 14px;
}

.close-white {
    cursor: pointer;
    display: none;
}

.c-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@media screen {
    @media(max-width: 1000px) {
        .c-new-headline {
            font-size: 47px;
        }

        .c-new-subtible {
            font-size: 23px;
        }

        .c-new-card {
            max-width: 600px;
            flex-direction: column;
            height: 100%;
            overflow-x: hidden;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .c-new-c-left {
            position: relative;
            height: 35%;
            width: 100%;
            border-bottom-left-radius: unset;
        }

        .c-img-resp {
            display: none;
        }

        .c-new-c-right {
            position: relative;
            justify-content: center;
            width: 100%;
            height: 65%;
        }

        .c-new-initials {
            position: absolute;
            top: -80px;
            margin-top: unset;
        }

        .c-i-big {
            margin: 0 10px 0 0;
        }

        .c-new-input-div {
            width: 100%;
        }

        .c-new-input {
            width: unset;
        }

        .c-btn-resp {
            width: 100%;
            position: absolute;
            bottom: 8px;
        }

        .c-new-close {
            display: none;
        }

        .close-white {
            display: flex;
            width: 40px;
            position: absolute;
            top: 10px;
            right: 15px;
        }

        .c-new-input form {
            justify-content: flex-start;
            margin-top: 20px;
            gap: 35px;
        }
    }
}